/*CSS DOCUMENT*/

* {background-color: rgb(234,227,218)} 


    h1{
        color: rgb(255,255,255);
        font-size: 3em;

        }
 h2{
        color: rgb(196,199,198);
        font-size: 2em;
        margin: 0em 1.5em 1.5em 1.5em;
        font-family: serif, 'Utopia';
        background-color: rgb(255,255,255)
        }
 h3{
        color: rgb(154,167,173);
        font-size: 1.5em;
        margin: 1.5em 1.5em 1.5em 1.5em;
        font-family: serif, 'Utopia';
        }
 h4{
        color: rgb(154,167,173);
        font-size: 1em;
        font-family: serif, 'Utopia';
        }
 
